:root {
  --main-template-nav-width: 270px;
}

.main-template {
  width: 100%;
  height: 100vh;

  background-color: var(--grey-01);

  display: flex;
  flex-direction: row;
}

.main-template__nav {
  width: var(--main-template-nav-width);
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--terciary-color);
}

.main-template__content {
  width: calc(100% - var(--main-template-nav-width));
  height: 100vh;
}

.main-template__body {
  height: 100%;

  overflow-y: auto;
}