.form__bttn {
  background: linear-gradient(88.91deg, #30B6AE 0%, #00E082 100%);
  border-radius: 22px;

  color: var(--fixed-white);
  border: none;

  height: 40px;

  font-weight: 600;

  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form__bttn:hover {
  opacity: 0.8;
}

.form__bttn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.form__bttn--green {
  background: var(--green);
  color: var(--fixed-white);
}

.form__bttn--red.transparent {
  color: var(--error-color);
  background: transparent;
}

.form__bttn--red.transparent:hover {
  color: var(--fixed-white);
  background: var(--red);
}