.chat__container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: url("../../../../utils/icons/bg-chat.svg");
}

.chat__inner {
  height: 100%;
  overflow-y: auto;
}

/* .chat__footer {} */

/* .chat__information {} */