.information__table {
  width: 100%;

  color: var(--text-color);
}

/* .information__body {} */

/* .information__row {} */

.information__table-data {
  padding: 10px 15px;
  border-bottom: 1px solid var(--table-border-color);
}

.information__table-data--no-border {
  border-bottom: none;
}

.information__table-data--align-right {
  text-align: right;
}

.information__table-data--border-right {
  border-right: 1px solid var(--table-border-color);
}