.w-400-h-auto {
  width: 370px;
  height: auto;
}

.box--reset-password {
  margin-top: 10px;
}

.reset-password__link {
  display: block;
  margin-bottom: 100px;
  margin-top: 20px;

  color: var(--text-color);
}

.reset-password__link:hover {
  color: var(--text-color);
}