.main-template__link {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;

  color: var(--white-01);

  font-size: 14px;
  font-weight: 500;

  border-radius: 6px;
}

.main-template__link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.main-template__title {
  display: inline-block;
  margin-left: 10px;
}

.main-template__title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.main-template__link.active, .main-template__link.active:focus {
  background-color: var(--terciary-color-opacity);
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 6px;
}

.main-template__link:focus {
  background-color: var(--terciary-color-opacity);
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 6px;
}

.main-template__item--active {
  background-color: var(--terciary-color-opacity);
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 6px;
}

.fake-icon {
  width: 24px;
  height: 24px;
}

.main-template__right-icon {
  width: 20px;
  height: 20px;
}

.main-template__right-icon svg {
  width: 20px;
  height: 20px;
}

.main-template--close .main-template__title {
  display: none;
}

.main-template--close .main-template__right-icon {
  display: none;
}