.main-template__nav-menu {
  padding: 10px 20px;
  margin: 0px;

  list-style: none;
}

.main-template__link {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;

  color: var(--white-01);

  font-size: 14px;
  font-weight: 600;

  border-radius: 4px;
}

.main-template__link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.main-template__link--active {
  background-color: var(--terciary-color-opacity);
  color: var(--primary-color);
}

.main-template__title {
  display: block;
  margin-left: 10px;
}