.header__bttn {
  width: 34px;
  height: 34px;

  border-radius: 34px;
  border: none;

  color: var(--text-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: var(--grey-01);
}

.header__bttn:hover {
  opacity: 0.85;
}

.header__bttn--dark-bg {
  background: var(--terciary-color);
  color: #FFF;
}

.header__bttn--dark-bg:hover {
  opacity: 1;
  background: var(--terciary-color-opacity);
}