.input__label {
  margin-bottom: 10px;
  color: var(--text-color);
  display: block;
}

.label {
  display: block;
  background-color: var(--white-01);

  padding: 15px;

  margin: 0px 15px 15px;

  border-radius: 4px;

  box-shadow: var(--box-shadow-bg-white);
}